@charset "utf-8";
body {
	background-attachment: scroll;
	background-image: url(%E4%B8%8A%E8%83%8C1.png);
	background-repeat: repeat-x;
	background-position: center top;
	background-size: 600px auto;
	margin-top: 100px;
	left: 0px;
	top: 80px;
	float: left;
}
 a:link,a:active,a:visited{
text-decoration: none;
color:#CC57D3;
}
a:hover{
	color: #EB5185;
}
#box{
	width: 100%;
	height: 1000px;
}
#entry{
	width: 500px;
	height: 100%;
	margin-top: 0px;
	float: left;
	color: #020007;
	margin-left: 140px;
}
#menu {
	height: 200px;
	width: 1300px;
	margin-top: 50px;
	margin: auto;
	font-size: 18px;
	font-family: "方正姚体";
	color: #A68FD4;
}
#menu2{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 24px;
	font-family: "幼圆";
	color: #CC57D3;
	text-align: right;
	text-decoration: none;
	width: 606px;
	height: 200px;
	background-image: url(menu.png);
	line-height: 131px;
	float: right;
	font-weight: 400;
	text-shadow: 1px 3px 5px;
}
#text{
	text-align: center;
	padding-top: 39px;
}
#bottom{
	width: 100%;
	height: 100px;
	background-color: #5489D9;
	font-family: "方正姚体";
	font-size: 24;
	text-align: center;
	margin-top: 30px;
	padding-top: 41px;
	letter-spacing: 7px;
}
